{% extends "layout.html" %}
{% block content %}
  <div class="w3-display-middle">
</h1-->
<p class="w3-large w3-center">Quiz</p>
<hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">2021</p>
<br>
<div class="w3-animate-input"><p>
<form action="./trGet" method="PUT">
<br><br></select></p>
<input type="hidden" name="pathID" id="pathID" value="login">
<input type="hidden" name="questions" id="questions" value=0>
<input type="submit" value="スタート" ><br>
</form>
	</div>
	</div>
</div>


{% endblock %}
