{% extends "layout.html" %}
{% block content %}
<div class="w3-display-middle">
</h1-->
<p class="w3-large w3-center">{{ python["title"] }}</p>
<hr class="w3-border-grey" style="margin:auto;width:40%">
	<ul>
		{% for dir in python["dir_list"] %}
		<li>
			<a class="w3-large w3-center" href="{{ python["current"] }}/{{ dir }}">{{ dir }}/</p>
		</li>
		{% endfor %}
		{% for data in python["data_list"] %}
		<li>
			<a class="w3-large w3-center" href="{{ python["current"] }}/?file_id={{ data }}">{{ data }}</p>
		</li>
		{% endfor %}
	<ul>
<br>
</div>


{% endblock %}